body {
    background-image: linear-gradient(rgba(30, 41, 59, 0.85), rgba(30, 41, 59, 0.85)), url("../public/bg1.jpg ");
    background-size: cover;
    background-attachment: fixed;
}

h4 {
    color: #00BCD4;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #333333;
}

/* Index page styles */
.profile-container {
    margin-top: 10em;
}

.profile-image {
    width: 14em;
    height: 14em;
}

.profile-title {
    text-shadow: 2px 2px 6px #111111;
}
